:root {
  --b4: #00c1ff;
  --b3: #52d5ff;
  --b2: #c6f0fd;
  --b1: #e5f3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
  font-family: "Libre Baskerville", serif;
}

.background {
  width: 100vw;
  height: 100vh;
  position: relative;
}

p {
  font-style: italic;
}

.glow {
  position: fixed;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, var(--b3), transparent 60%);
  animation: pulse 5s ease-in-out infinite;
  filter: blur(50px);
}

.glow.top-left {
  top: -100px;
  left: -100px;
}

.glow.bottom-right {
  bottom: -100px;
  right: -100px;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.star {
  position: absolute;
  width: 20px;
  height: 20px;
  animation: twinkle 2s infinite alternate ease-in-out;
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.5);
  }
}

.moving-star {
  animation: moveStar 20s linear infinite,
    twinkle 2s infinite alternate ease-in-out;
}

@keyframes moveStar {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(300px, 300px);
  }
}

.btrflyright {
  position: fixed;
  top: -10%;
  right: -10%;
  width: 150px;
  height: 150px;
  opacity: 0.3;
}

.btrflyleft {
  position: fixed;
  bottom: -10%;
  left: -10%;
  width: 150px;
  height: 150px;
  opacity: 0.3;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 2rem;
  gap: 10%;
}

.hero p {
  font-size: 1rem;
}

button {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--b2);
}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.6s ease-out forwards;
}

.fade-up:nth-child(1) {
  animation-delay: 0.1s;
}
.fade-up:nth-child(2) {
  animation-delay: 0.3s;
}
.fade-up:nth-child(3) {
  animation-delay: 0.5s;
}
.fade-up:nth-child(4) {
  animation-delay: 0.7s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero .something {
  display: flex;
  position: relative;
}

.something h1 {
  font-family: "Shrikhand", serif;
  text-align: center;
  color: var(--b2);
  text-shadow: 0 0 10px var(--b4);
  font-style: none;
  font-size: 1.7rem;
  line-height: 1;
  padding: 1rem 0;
}

.something .orbit {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 78px;
  border: 0.5px solid var(--b2);
  border-radius: 50%;
  transform: rotate(10deg);
}

hr {
  border: none;
  height: 0.5px;
  background-color: white; /* atau warna lain */
  width: 100%; /* atau misalnya 80% */
  margin: 1.2rem auto; 
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 2rem;
  gap: 3%;
  font-size: 0.9rem;
}

.hidden {
  display: none;
}

.bckbtn {
  background: none;
  position: absolute;
  top: 3%;
  left: 5%;
  padding: 0;
}

.bckbtn img {
  width: 1.5rem;
}
